VK_ACCESS_TOKEN=""
VK_GROUP_ID=""
VK_ID_SERVICE_TOKEN=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET=""
PAIRING_CODE_SECRET=""
GOOGLE_OAUTH_CLIENT_ID="694062327158-dja91uqmc3k4516fr8adl64q1m099ipm.apps.googleusercontent.com"
ALLOWED_EXTENSION_ORIGIN="chrome-extension://kffffpnlinmecknhdohnkfhpdjfogjhk"
