VK_ACCESS_TOKEN=""
VK_GROUP_ID=""
VK_ID_SERVICE_TOKEN=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET=""
PAIRING_CODE_SECRET=""
GOOGLE_OAUTH_CLIENT_ID="000000000000-development.apps.googleusercontent.com"
ALLOWED_EXTENSION_ORIGIN="chrome-extension://kffffpnlinmecknhdohnkfhpdjfogjhk"
